            <div class="row">
                <div class="window">
                    <div class="uk-card uk-card-default">
                        <div class="card-content">
                        <%= article.text %>
                        </div>
                        <div class="card-action">
                            <% if user_signed_in? && current_user.id == article.user_id %>
                                <%= link_to "EDIT" , "/articles/#{article.id}/edit" , method: :get , class: 'uk-link-text'  %>
                                <%= link_to "DELETE" , "/articles/#{article.id}" , method: :DELETE , class: 'uk-link-text'  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>    