<span uk-icon="heart"></span>

<br>
<br>

<span class="uk-label">Default</span>

<br>
<br>
<div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <div class="uk-light uk-background-secondary uk-padding">
            <h3>ホゲホゲ</h3>
            <p>TestTestホゲホゲ</p>
            <button class="uk-button uk-button-default">Button</button>
        </div>
    </div>
    <div>
        <div class="uk-dark uk-background-muted uk-padding">
            <h3>フガ</h3>
            <p>TestTestフガフガ.</p>
            <button class="uk-button uk-button-default">Button</button>
        </div>
    </div>
</div>

<br>
<br>
<button class="demo uk-button uk-button-default" type="button" onclick="UIkit.notification({message: 'Notification message'})">Click me</button>