// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
    height: 100%;
    width:  100%;
}

body{
    height: 100%;
    width:  100%;
}

.uk-offcanvas-content{
    height: 100%;
    width:  100%;
}

.uk-navbar-left{
    color: white;
}


.uk-navbar-item{
    color: white;
    font-size: 20px;
}

.uk-navbar-right{
    color: white;
}

.col{
    margin: 40px 400px;
}

h5{
    margin: 0 0 10px 0;
    font-size: 20px;
}

.field{
    margin: 0 0 10px 0;
}

.sign-up{
    margin: 10px 0 10px 0;
}


